<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dj Shop - {% block title %} Base {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base_static/bootstrap2/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}?{% now 'U' %}">
    <link rel="icon" href="/media/main/django-logo.png" sizes="16x16 32x32" type="image/png">
</head>
<body>
    <nav class="navbar bg-white border-bottom navbar-expand-lg border-bottom-white" data-bs-theme="white" style="z-index: 1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main_url' %}" style="margin-left: 2%;"><i class="fa-solid fa-code"></i>  DjangoStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 2%;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex-direction: row-reverse;">
                    <!-- <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'main_url' %}">Home</a>
                    </li> -->
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" aria-current="page" href="{% url 'profile_view_url' %}">
                                {% if request.session.language == 'en' %}
                                    Cabinet
                                {% elif request.session.language == 'rus' %}
                                    Кабинет
                                {% elif request.session.language == 'kz' %}
                                    Кабинет
                                {% endif %}
                            </a>
                        {% else %}
                            <a class="nav-link" aria-current="page" href="{% url 'login_url' %}">
                                {% if request.session.language == 'en' %}
                                    Log In
                                {% elif request.session.language == 'rus' %}
                                    Вход
                                {% elif request.session.language == 'kz' %}
                                    Кіру
                                {% endif %}
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% block href %}
                        {% endblock href %}
                    </li>
                    <li class="nav-item">
                        {% block second_href %}
                        {% endblock second_href %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    
    <div class="footer">
        <div class="footer_wrapper">
            <div class="footer_section">
                <div class="footer_left">
                    <span class="footer_left-span">© 2023-2023, АО «Django Bank»</span>
                    <p class="footer_left-p">
                        {% if request.session.language == 'en' %}
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officiis, blanditiis quod saepe ex quae totam dolor repudiandae similique et. Quam inventore sint magni illo sit temporibus culpa similique vel.
                        {% elif request.session.language == 'rus' %}
                            Знание о том, что такое долг, присуще только избранным. Необходимость исполнения служебных обязанностей, бландитизм - это то, что необходимо для полного отказа от аналогии и т.д. Я изобретатель, и я не могу быть временным виновником подобной ситуации.
                        {% elif request.session.language == 'kz' %}
                            Қарыздың не екенін білу тек таңдаулыларға ғана тән. Қызметтік міндеттерді орындау қажеттілігі, бландитизм-бұл ұқсастықтан толық бас тарту үшін қажет нәрсе және т. б. мен өнертапқышпын және Мен мұндай жағдайға уақытша кінәлі бола алмаймын.
                        {% endif %}
                    </p>
                    <div>
                        <a href="#" class="footer_left-a">
                            {% if request.session.language == 'en' %}
                                Support
                            {% elif request.session.language == 'rus' %}
                                Поддержка
                            {% elif request.session.language == 'kz' %}
                                Қолдау
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="social-media">
                        <a href="#" class="social-media_item"><i class="fa-brands fa-instagram fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-youtube fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-telegram fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-facebook fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-twitter fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-vk fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-odnoklassniki fa-xl"></i></a>
                        <a href="#" class="social-media_item"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/73ac4e980c.js" crossorigin="anonymous"></script>
    <script src="{% static 'base_static/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>