<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <style>
        *{
            padding: 0;
            margin: 0;
        }

        body{
            background: rgb(105, 105, 115);
        }
    </style>

    <div align="center">
        <h2>The page was not found.</h2>
        <p>Try going back to the previous page</p>
        <p>or starting over.</p>
        <button onclick="location.href='{% url 'home_url' %}'">Main page</button>
    </div>
</body>
</html>