{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        .box{
            background: #fff;
        }

        .box i{
            height: 50px;
        }

        .box h1{
            text-align: center;
        }

        .admin-button{
            text-align: center;
            width: 20%;
        }

        .admin-button{
            background-color: #007bff;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .admin-button:hover{
            background-color: #0056b3;
        }

        .button-div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div class="container mt-5 p-3 rounded box">
        <h1><i class="fa-solid fa-cart-shopping fa-beat fa-2xl"></i></h1>
        <h1>Продвайте</h1>
        <h1>в Интернет-магазине</h1>
        <h1>на DjangoStore</h1>


        <form action="{% url 'status_seller_url' %}" method="post">
            {% csrf_token %}
            <div class="button-div">
                <button type="submit" class="admin-button">Начать продавать</button>
            </div>
        </form>
    </div>
{% endblock content %}